.navbar,.btn{
    background-color: #7749F8 !important;
}
.card_cont{
    background-color: #f7f8f9 !important;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:590px){

    .card{
        width: 75% !important;
    }
}

.blogData{
    padding-left: 10px !important;
}
.blog_written{
    min-height: 150px !important;

    text-align: start !important; 
    white-space: normal !important; 
    overflow-wrap: break-word !important;
    resize: vertical !important;
}
.blog_Btns{
    color: #7749F8 !important; 
}
.swal2-actions{
    gap: 5px !important;
}
.profileCont{
    height: 80vh !important;
}
.body{
    overflow-y: hidden;
}
.profileDataCont{
    width: 68% !important;
    padding-top: 34px !important;
    height: 96% !important;
    padding-bottom: 0px !important;
}
.fa-pen{
    position: absolute;
    font-size: 30px !important;
    color: #7749F8 !important;
    right: 30%;
    top: 67%;
}
.card-body {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.fa-pen-clip{
    font-size:18px !important;
}
#profileimg_cont{
    height: 30% !important;
    width: 60% !important;
   
}
#Profile_Img{
    height: 95% !important;
}
#uploadIcon,#Update_Name{
    cursor: pointer;
}
#User_Name_Space{
    text-transform: capitalize;
}
.imgContainer{
    height: 140px !important;
}
@media screen and (max-width:767px){
.imgContainer{
    height: 200px !important;
}
}
@media screen and (max-width:1008px){
   
    .fa-pen{
        right: 30%;
        top: 67%;
        font-size: 25px !important;
    }
    #Profile_Img{
        height: 90% !important;
    }
  
}
@media screen and (max-width:760px){
   
    .fa-pen{
        right: 30%;
        top: 67%;
        font-size: 25px !important;
    }
    .profileDataCont{
        width: 80% !important;
        padding: 20px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
@media screen and (max-width:505px){
    .profileDataCont{
        width: 85% !important;
        padding: 20px !important;
       padding-left: 0px !important;
       padding-right: 0px !important;
    }
    .fa-pen{
        right: 15%;
        top: 69%;
        font-size: 25px !important;
    }
    /* .profileCont{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } */
   
    #Profile_Img{
       width: 95% !important;
    }
    #profileimg_cont{
        height: 32% !important;
        width: 90% !important;
    }
}